@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FC-Subject';
  src: url('./assets/FC Subject [Non-commercial use] Regular ver 1.00.ttf');
  font-weight: regular;
}

@font-face{
  font-family: 'FC-Subject';
  src: url('./assets/FC\ Subject\ [Non-commercial\ use]\ Bold\ ver\ 1.00.ttf');
  font-weight: bold;
}

/* html{
  zoom: 0.9;
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
} */

body{
  margin: 0;
  font-family: 'FC-Subject',
  'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: theme('colors.lightgrey');
}

h1{
  font-weight: bold;
  font-size: 32px;
  color: theme('colors.black');
}

h2{
  font-weight: bold;
  font-size: 24px;
  color: theme('colors.black');
}

h3{
  font-weight: bold;
  font-size: 21px;
  color: theme('colors.black');
}

h4{
  font-weight: bold;
  font-size: 18px;
  color: theme('colors.black');
}

.colors-green{
  color: theme('colors.green');
}

/* homepage */
.home.profile-dp{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border-width: 1px;
  border-color: theme('colors.grey');
  background-color: white;
}

.square-btn{
  width: 50px;
  height: 50px;
  border-radius: 12px;
  border-width: 1px;
  border-color: rgba(112, 112, 112, 0.5);
  background-color: theme('colors.white');
  /* opacity: 0.2; */
}
.header{
  background-color: theme('colors.lightgrey');
  position: sticky;
  top: 0;
}

.navbar{
  background-color: white;
  position: fixed;
  /* left: 0; */
  height: 100%;
  border-top-right-radius: 50px;
  font-size: 18px;
  padding-top: 50px;
  overflow: hidden;
}

.nav-list{
  color: theme('colors.black');
  height: 65px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 21px;
  font-weight: bold;
}

.navbar .nav-list:hover,
.navbar .nav-list:active
{
  border-right-width: 5px;
  border-color: theme('colors.green');
}

.navbar .nav-list{
  align-items: center;
  align-self: center;
  align-content: center;
}

.class-list{
  height: 55px;
  padding-left: 80px;
  font-size: 18px;
}

.class-list:hover{
  background-color: rgba(65, 176, 148, 0.10);
}

.class-list .sub{
  font-size: 16px;
  color: theme('colors.grey');
}

.box{
  background-color: white;
  border-radius: 35px;
}

.tf{
  font-size: 18px;
  height: 43px;
  border-radius: 21.5px;
  background-color: theme('colors.lightgrey');
  padding-left: 20px;
}

.btn{
  font-weight: bold;
  font-size: 18px;
  background-color: theme('colors.green');
  color: white;
  height: 43px;
  border-radius: 21.5px;
}

.btn-border{
  font-weight: bold;
  font-size: 18px;
  border-width: 2px;
  border-color: theme('colors.green');
  background-color: theme('colors.white');
  color: theme('colors.green');
  height: 43px;
  border-radius: 21.5px;
}

.btn:hover{
  background-color: #2C9A7E;
}

.authbox{
  width: 522px;
  height: 626px;
  /* vertical-align: middle; */
  /* display: table-cell; */
  /* align-items: center;
  padding: 0 3rem; */
}

.eiei{
  background-color: cadetblue;
  /* display: block; */
}

.ee{
  background-color: burlywood;
}

.asm{
  border-width: 1px;
  border-color:rgba(112, 112, 112, 0.30);
  min-height: 120px;
  width: 60vmax;
  margin-bottom: 20px;
  padding: 0px 30px;
  display: flex;
}

.box.post{
  border-width: 1px;
  border-color:rgba(112, 112, 112, 0.30);
  min-height: 10px;
  /* width: 60vmax; */
  margin-bottom: 20px;
}

.container4{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

#left{
	position: fixed;
	top: 120px;
	left: 0px;
  padding-top: 50px;
	background: white;
  font-size: 18px;
	width: 18rem;
  height: 100%;
  border-top-right-radius: 50px;
  overflow: hidden;
}

#middle {
	margin: 20px 24rem 20px 18rem;
	padding: 10px;
	}
  
#right {
	position: absolute;
	top: 120px;
	right: 0px; /* Opera5.02 will show a space 
	at right when there is no scroll bar */
	padding: 10px;
	width: 150px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 24rem;
	}

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .modal {
    top: 0px;
    position:relative;
    z-index: 9999;
    }


    .select-items div,.select-selected {
      color: #ffffff;
      padding: 8px 16px;
      border: 1px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
      cursor: pointer;
    }

    
    option:hover:before {
      display: inline;
    }
    
    select {
      font-size: 20px;
      font-size-adjust: 0.3;
  }
  

  .button {
    @apply relative inline-flex items-center px-5 py-3 border border-grey  text-sm leading-5 text-black transition ease-in-out duration-150 rounded-md;
  }

  .button .unselected{
    background: #000;
  }
  
  .button:hover {
    @apply text-grey;
  }
  
  .button:focus {
    @apply z-10 outline-none border-green bg-green bg-opacity-30;
  }
  
  .button:active {
    @apply bg-grey bg-opacity-10;
  }
  
  .button-group {
    @apply relative z-0 inline-flex shadow-sm;
  }
  
  .button-group > .button:not(:first-child) {
    @apply rounded-l-none -ml-px;
  }
  
  .button-group > .button:not(:last-child) {
    @apply rounded-r-none;
  }

  .exam-tf{
    background-color: white;
    padding: 5px;
    @apply border border-grey bg-white text-sm rounded-md
  }

  .exam-textarea{

  }